<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
<head>
    <meta charset="utf-8">
        <meta name="viewport" 
              content="width=device-width, height=device-height, 
                         minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <style>
        
        
        div.left {
            width: 70%;
            float: left;
        }
        
        div.right {
            width: 30%;
            float: right;
        }
    </style>
</head>

<div layout:fragment="content">
    <div class="left">
        <section class="container">
            <form method="post">
                <div class="WritngWrap">
                    <div class="WritngHeader">
                        <h2 class="title">
                            글쓰기 <a th:href="@{/view/main}">
                                <input type="submit" class="btn btn-primary" style="float: right">등록</button>
                            </a>
                        </h2>
                    </div>
                </div>
                <hr>
                <div class="WritngContainer">
                    <div class="Writngeditor">
                        <div class="ArticleWritingTitle">
                            <div class="row">
                                <div class="column_title">
                                    <div class="FormSelectBox menu_candidates_selectbox">
                                        <div class="FormSelectButton">
                                            <select
                                                class="form-select form-select-lg mb-3 form-control mx-1"
                                                aria-label=".form-select-lg example"
                                                style="width: 580px; font-size: 15px;">
                                                <option selected>게시판을 선택해 주세요.</option>
                                                <option value="1">가입인사 게시판</option>
                                                <option value="info">공지사항</option>
                                                <option value="3">자유게시판</option>
                                                <option value="4">경기후기 게시판</option>
                                                <option value="5">경기예상 게시판</option>
                                            </select>
                                            <div class="row">
                                                <div class="FlexableTextArea">
                                                    <textarea placeholder="공지사항" class="textarea_input form-control mx-3"
                                                        style="width: 1100px; height : 40px; font-size: 15px;"></textarea>
                                                <div class="FlexableTextArea">
                                                    <textarea placeholder="제목을 입력해 주세요." class="textarea_input form-control mx-3"
                                                        style="width: 1100px; height : 40px; font-size: 15px;"></textarea>
                                                </div>
                                                
                                                <div class = "FlexableTextArea my-3">
                                                    <textarea placeholder="내용을 입력해 주세요." class="textarea_input form-control mx-3" style="width: 1100px; height : 500px; font-size: 15px;"></textarea>
                                                </div>
                                                <div class="my-2">
                                                    <label for="author" class="form-label">작성자</label>
                                                    <!-- 작성자는 로그인 사용자 아이디를 자동으로 삽입. readonly. -->
                                                    <input id="author" class="form-control" type="text" name="author" required/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="right">
        <p>출력되라</p>     
    </div>
</div>

</html>