
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
    content="width=device-width, height=device-height, 
                         minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">     
<style>
div.left {
    width: 70%;
    float: left;
}

div.right {
    width: 30%;
    float: right;
}
/* 아이콘을 위한 */
.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.iconsContainer .icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem 3rem;
}

.iconsContainer .icons .bi {
  cursor: pointer;
  font-size: 40px;
  padding: 1.5rem 2rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, #002adf, #ffcc99);
  background-size: 200%;
  transition: background 0.3s ease-in-out;
}

.iconsContainer .icons .bi:hover {
  background-position: right;
}
</style>
</head>

<div layout:fragment="content">
    <div class="left">
        <form method="post">
            <section class="container">
                <div class="WritngWrap">
                    <div class="WritngHeader">
                        <h2 class="title">
                            글쓰기 <span> <input type="submit"
                                class="btn btn-success"
                                style="float: right" value="등록" />
                            </span>
                        </h2>
                    </div>
                </div>
                <hr>
                <div class="WritngContainer">
                    <div class="Writngeditor">
                        <div class="ArticleWritingTitle">
                            <div class="row">
                                <div class="column_title">
                                    <div
                                        class="FormSelectBox menu_candidates_selectbox">
                                        <div class="FormSelectButton">
                                            <select
                                                class="form-select form-select-lg mb-3 form-control mx-1"
                                                aria-label=".form-select-lg example"
                                                name="type"
                                                style="width: 580px; font-size: 15px;">
                                                <option value="1">가입인사
                                                    게시판</option>
                                                <option value="2">공지사항</option>
                                                <option value="3">자유게시판</option>
                                                <option value="4">경기후기
                                                    게시판</option>
                                                <option value="5">경기예상
                                                    게시판</option>
                                            </select>
                                            <div class="row">
                                                <div
                                                    class="FlexableTextArea">
                                                    <textarea
                                                        placeholder="제목을 입력해 주세요."
                                                        class="textarea_input form-control mx-3"
                                                        id="title"
                                                        name="title"
                                                        style="width: 1100px; height: 40px; font-size: 15px;"></textarea>
                                                </div>
                                                <div
                                                    class="FlexableTextArea my-3">
                                                    <textarea
                                                        placeholder="내용을 입력해 주세요."
                                                        class="textarea_input form-control mx-3"
                                                        id="content"
                                                        name="content"
                                                        style="width: 1100px; height: 500px; font-size: 15px;"></textarea>
                                                </div>
                                                <div class="my-2 mx-3">
                                                    <label for="author"
                                                        class="form-label">작성자</label>
                                                    <input id="author"
                                                        class="form-control"
                                                        type="text"
                                                        name="author"
                                                        required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="right">
        <p>출력되라</p>
        <i class="bi bi-hand-thumbs-up"></i>
        
    </div>
</div>

</html>