<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CSS 슬라이더</title>
<link rel="stylesheet" th:href="@{ /css/slider2.css }">
</head>
<body>
    <!-- Begin Page Content -->
    <div layout:fragment="content">
        <div class="slider">
            <input type="radio" name="slide" id="slide1" checked>
            <input type="radio" name="slide" id="slide2"> <input
                type="radio" name="slide" id="slide3"> <input
                type="radio" name="slide" id="slide4">
            <ul id="imgholder" class="imgs">
                <li><img th:src="@{ /img/slide1.jpg }"></li>
                <li><img th:src="@{ /img/slide2.jpg }"></li>
                <li><img th:src="@{ /img/slide3.jpg }"></li>
                <li><img th:src="@{ /img/slide4.jpg }"></li>
            </ul>
            <div class="bullets">
                <label for="slide1">&nbsp;</label> <label for="slide2">&nbsp;</label>
                <label for="slide3">&nbsp;</label> <label for="slide4">&nbsp;</label>
            </div>
        </div>
    </div>
</body>
</html>