<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{ /css/slider2.css }">
<style>
body {
  background: #1E1930;
  color: #D2D1D5;
}
tr:nth-child(even) {
  background-color: #2e2649;
}
tr:nth-child(odd) {
  background-color: #423b5b;
}
th {
  background-color: #342F44;
  color: white;
}
.noBorder {
    border:none !important;
}
</style>
</head>
<body>
    <!-- Begin Page Content -->
    <div layout:fragment="content">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div
                class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                <a href="#"
                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i>
                    Generate Report</a>
            </div>

            <!-- Content Row -->
            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div
                        class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div
                                class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div
                                        class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        경기일정 <h3 th:utext="${ plDate0 }"> </h3></div>
                                    <div
                                        class="h5 mb-0 font-weight-bold text-gray-800">

                                    <h15 th:utext="${ plLeagueFixture0 }"> </h15>
                                    <h15>vs</h15>
                                    <h15 th:utext="${ plLeagueFixture1 }"> </h15>
                                    </div>
                                    <div
                                        class="h5 mb-0 font-weight-bold text-gray-800">
                                        <hr width = "90%" color = "gray">

                                    <h15 th:utext="${ plLeagueFixture2 }"> </h15>
                                    <h15>vs</h15>
                                    <h15 th:utext="${ plLeagueFixture3 }"> </h15>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i
                                        class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div
                        class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div
                                class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div
                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Earnings (Annual)</div>
                                    <div
                                        class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                </div>
                                <div class="col-auto">
                                    <i
                                        class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                    
                        <div class="slider">
                            <input type="radio" name="slide" id="slide1"
                                checked> <input type="radio"
                                name="slide" id="slide2"> <input
                                type="radio" name="slide" id="slide3">
                            <input type="radio" name="slide" id="slide4">
                            <ul id="imgholder" class="imgs">
                                <li><h10 th:utext="${ newsTitle1 }">
                                    </h10> <img th:src="${ newsImg1 }"
                                    alt="group table"
                                    class="img-responsive img-thumbnail">
                                </li>

                                <li><h10 th:utext="${ newsTitle2 }">
                                    </h10> <img th:src="${ newsImg2 }"
                                    alt="group table"
                                    class="img-responsive img-thumbnail"></li>
                                <li><h10 th:utext="${ newsTitle3 }">
                                    </h10> <img th:src="${ newsImg3 }"
                                    alt="group table"
                                    class="img-responsive img-thumbnail"></li>
                                <li><h10 th:utext="${ newsTitle4 }">
                                    </h10> <img th:src="${ newsImg4 }"
                                    alt="group table"
                                    class="img-responsive img-thumbnail"></li>
                            </ul>
                            <div class="bullets">
                                <label for="slide1">&nbsp;</label> <label
                                    for="slide2">&nbsp;</label> <label
                                    for="slide3">&nbsp;</label> <label
                                    for="slide4">&nbsp;</label>
                            </div>
                        </div>
                        <!-- 슬라이드 컨텐트 -->
                    </div>
                </div>

                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div
                        class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div
                                class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div
                                        class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Pending Requests</div>
                                    <div
                                        class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                </div>
                                <div class="col-auto">
                                    <i
                                        class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->

            <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-5 col-lg-4">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6
                                class="m-0 font-weight-bold text-primary">주요
                                일정표</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#"
                                    role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"> <i
                                    class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown
                                        Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another
                                        action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something
                                        else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div>
                                <img th:src="${ newsFixture }"
                                    alt="group table"
                                    class="img-responsive img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 시작 -->
                <div class="col-xl-6 col-lg-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">조회수 베스트 게시글</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>게시판</th>
                                            <th>작성시간</th>
                                            <th>조회수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="post : ${ list }">
                                            <td th:text="${ post.id }"></td>
                                            <td><a th:href="@{ /view/detail?id={id} (id = ${ post.id }) }"
                                                th:text="${ post.title }"></a></td>
                                            <td th:text="${ post.category }"></td>
                                            <td
                                                th:text="${ #temporals.format(post.modifiedTime, 'yyyy-MM-dd') }"></td>
                                            <td th:text="${ post.clickCount }"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>  
                    </div>
                </div>
                
                <!--  끝 -->
                <div class="table-responsive">
                    <table class="table" width = "400">
                      <thead>
                        <tr>
                          <th scope="col" width="100" >순위</th>
                          <th scope="col" >팀</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td class="noBorder">1</td>
                          <td class="noBorder"><span th:utext="${ plLeagueTable0 }"></span></td>
                          
                        </tr>
                        
                        <tr>
                          <td class="noBorder">2</td>
                          <td class="noBorder"><span th:utext="${ plLeagueTable1 }"></span></td>
                          
                        </tr>
                        <tr>
                          <td class="noBorder">3</td>
                          <td class="noBorder"><span th:utext="${ plLeagueTable2 }"></span></td>
                          
                        </tr>
                        <tr>
                          <td class="noBorder">4</td>
                          <td class="noBorder"><span th:utext="${ plLeagueTable3 }"></span></td>
                          
                        </tr>
                        <tr>
                          <td class="noBorder">5</td>
                          <td class="noBorder"><span th:utext="${ plLeagueTable4 }"></span></td>
                          
                        </tr>
                        <tr>
                          <td class="noBorder">6</td>
                          <td class="noBorder"><span th:utext="${ plLeagueTable5 }"></span></td>
                          
                        </tr>
                        <tr>
                          <td class="noBorder">7</td>
                          <td class="noBorder"><span th:utext="${ plLeagueTable6 }"></span></td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
            <!--End of Row -->


        </div>
    </div>

    <!-- /.container-fluid -->

</body>
</html>