<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

<div layout:fragment="content">
    <form id="formModify" method="post">
        <section class="container">
            <div class="WritngWrap">
                <div class="WritngHeader">
                    <h2 class="title">
                        글수정 <span> <input type="submit"
                            class="btn btn-success" style="float: right"
                            value="수정" />
                        </span>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="WritngContainer">
                <div class="Writngeditor">
                    <div class="ArticleWritingTitle">
                        <div class="row">
                            <div class="column_title">
                                <div
                                    class="FormSelectBox menu_candidates_selectbox">
                                    <div class="FormSelectButton">
                                        <select
                                            class="form-select form-select-lg mb-3 form-control mx-1"
                                            aria-label=".form-select-lg example"
                                            style="width: 580px; font-size: 15px;">
                                            <option selected>게시판을
                                                선택해 주세요.</option>
                                            <option value="1">가입인사
                                                게시판</option>
                                            <option value="2">공지사항</option>
                                            <option value="3">자유게시판</option>
                                            <option value="4">경기후기
                                                게시판</option>
                                            <option value="5">경기예상
                                                게시판</option>
                                        </select>
                                        <div class="row">
                                            <div
                                                class="FlexableTextArea">
                                                <textarea
                                                    placeholder="제목을 입력해 주세요."
                                                    class="textarea_input form-control mx-3"
                                                    id="title"
                                                    name="title"
                                                    style="width: 1100px; height: 40px; font-size: 15px;"
                                                    th:value="${info.id}"></textarea>
                                            </div>
                                            <div
                                                class="FlexableTextArea my-3">
                                                <textarea
                                                    placeholder="내용을 입력해 주세요."
                                                    class="textarea_input form-control mx-3"
                                                    id="content"
                                                    name="content"
                                                    style="width: 1100px; height: 500px; font-size: 15px;"></textarea>
                                            </div>
                                            <div class="my-2 mx-3">
                                                <label for="author"
                                                    class="form-label">작성자</label>
                                                <input id="author"
                                                    class="form-control"
                                                    type="text"
                                                    name="author"
                                                    required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>

</html>